#dash{
    width: 84%;
    margin: 4rem auto;

    & > header {
        margin-bottom: 4.875rem;

        & h2 {
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 2rem;

            & span {
                color: var(--color-red-100);
            }
        }

        & p {
            font-size: 1.125rem;
        }
    }
}

#graph-container{
    width: 70%;
}

/* Responsive */

@media screen and (width < 90.315rem) {
    #page-content{
        flex-direction: column;

    }

    #graph-container{
        width: 100%;
    }

    #stat-container{
        flex-direction: row;
        gap: 2rem;

        > *{
            flex: 1 1 0;
            padding: 0;
        }

    }

}

@media screen and (width < 72rem){
    #dash{
        width: 95%;
    }
}

@media screen and (width < 51.875rem){
    #stat-container{
        > *{
            &:last-child{
                max-width: 30%;
            }

        }

    }

}
