/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    /* Font */
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;

    /* Variables */
    --color-bg-primary: #fff;
    --color-bg-secondary: #000;
    --color-red-100: #f00;
    --color-red-200: #ff0101;
    --color-red-300: #e60000;
    --color-blue-100: #4ab8ff;
    --color-yellow-100: #fdcc0c;
    --color-pink-100: #fd5181;
    --color-grey-100: #f8fbfb;
    --color-grey-200: #74798c;

}

/* Reset */

html, body{
    overflow: hidden;
}

*{
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: inherit;
    text-decoration: none;
}

/* Layout */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    flex-direction: column;
}

.align-i-center{
    align-items: center;
}

.align-i-start{
    align-items: start;
}

.align-i-stretch{
    align-items: stretch;
}

.justify-c-center{
    justify-content: center;
}

.justify-c-start{
    justify-content: start;
}

.justify-c-space-b{
    justify-content: space-between;
}

.gap-05{
    gap: .5rem;
}

.gap-1{
    gap: 1rem;
}

.gap-1-875{
    gap: 1.875rem;
}

.gap-2{
    gap: 2rem;
}

.flex-1{
    flex: 1;
}

.w-100{
    width: 100%;
}


