#error-page{
    height: 100vh;

}

#error-title{
    color: var(--color-red-100);
    font-size: 12rem;
    font-weight: 600;
}

#error-message{
    font-size: 1.5rem;
}

#error-link{
    margin-top: 5rem;
    color: var(--color-red-300);
    font-weight: 500;
}