#layout{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    & aside {
        flex-shrink: 1;
        height: calc(100vh - 92px);
    }

    & main {
        flex: 1;
        max-height: calc(100vh - 92px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}