.container{
    background: var(--color-grey-100);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    flex: 1;
    max-width: 60vw;
}

.title{
    font-weight: 500;
    fill: #20253A;
}

.legend-text{
    display: inline-block;
    position: relative;
    margin-left: .625rem;
    top: 2px;
    color: var(--color-grey-200);

    &:not(.last){
        margin-right: 2rem;
    }

}

.tooltip{
    background: var(--color-red-300);
    color: #fff;
    text-align: center;

    & span{
        display: block;
        padding: 1.25rem .75rem;
    }
}
